html {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  background-color: transparent !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 12px;
  font-family: 'Titillium Web', sans-serif;
  background-color: transparent !important;
}

.all {
  display: flex;
  flex-direction: column;
  padding: 25px;
  height: 100%;
}

.imgserver {
  right: -15px;
  top: 30px;
  height: 130px;
  position: absolute !important;
}

.test {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 20px;
}

.dc {
  display: flex;
  justify-content: center;
  width: 230px;
  letter-spacing: 1px;
  font-weight: 900;
  color: white;
  font-size: 12px;
}

.healthBack {
  width: 230px;
  border-radius: 25px;
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.726);
}

.healthDisplay {
  height: 8px;
  transition: all 0.9s;
  background-image: linear-gradient(to right, #e60000, #dd0101);
  border-radius: 25px;
}