endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
endpoint_add_tcp "127.0.0.1:30120"
endpoint_add_udp "127.0.0.1:30120"

set mysql_connection_string "server=127.0.0.1;uid=root;password=;database=vrp"


## Fivem ##
ensure chat
ensure loading
ensure fivem 
ensure fivem-map-hipster
ensure last-personagem
ensure lux-vehcontrol
ensure mapmanager
ensure sessionmanager
ensure spawnmanager

## Emp ##
ensure fsh_lixeiro
ensure flame_works

## Farm ##
ensure buyDrugs
ensure crafting
ensure DrugsFarm
ensure farm
ensure lavagem
ensure MapsDrugs
ensure craftAmmo
ensure craftGuns
ensure SalesDrugs
ensure mysql-async

## Flame ##
ensure arsenal
ensure Cars
ensure dnotify
ensure adminmode
ensure gta.dlcs
ensure wheels
ensure domination
ensure NewVTRS
ensure Sync
ensure clysia
ensure GHMattiMySQL
ensure vrp_ghmattimysql
ensure aim
ensure flame_clotheshop
ensure fsh_lixeiro
ensure flame_works
ensure identity
ensure flame_streamer
ensure flame_store


## vRP ###
ensure vrp 
ensure vrp_admin
ensure vrp_animacoes
ensure vrp_barbershop
ensure vrp_banco
ensure vrp_blipsystem
ensure vrp_chest
ensure vrp_codes
ensure vrp_dealership
ensure vrp_desmanche
ensure vrp_doors
ensure vrp_facs
ensure vrp_garages
ensure vrp_heli
ensure vrp_homes
ensure vrp_hospital
ensure vrp_hoverfy
ensure vrp_hud
ensure vrp_interiores
ensure vrp_inventory
ensure vrp_legacyfuel
ensure vrp_login
ensure vrp_lscustoms
ensure vrp_mapas
ensure vrp_notify
ensure vrp_notifyitens
ensure vrp_notifypush
ensure vrp_player
ensure vrp_policealerts
ensure vrp_policia
ensure vrp_progressbar
ensure vrp_roupas
ensure vrp_sounds
ensure vrp_tattoos
ensure vrp_trunkchest
ensure weapons




sv_scriptHookAllowed 1

load_server_icon logo.png

set sv_enforceGameBuild 2372

sv_master1 ""

sv_hostname "Flame Evolved"

set onesync on 
set onesync_enableInfinity 1 

add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:1 group.admin # add the admin to the group

set sv_lan 1

sv_maxclients 7

set steam_webApiKey "98A31F23EDC425F271D0EAE0BDA9B1CE"

sv_licenseKey cfxk_HmQ8WGQlMv7RH1JhayrN_1gNiTp 