* {
	margin: 0;
	padding: 0;
}

html,body {
	font-size: 12px;
	overflow: hidden;
	background: transparent;
	font-family: "Roboto",Arial,Helvetica,sans-serif;
}

#displayNotify {
	right: 30px;
	bottom: 70px;
	display: none;
	color: #d8d8d8;
	line-height: 18px;
	border-radius: 3px;
	position: absolute;
	background: #38393c;
	box-shadow: 0 1px 0 #1e1f21;
	padding: 15px 20px 15px 15px;
	text-shadow: 1px 1px #232630;
}

#displayNotify b {
	color: #c0c0c0;
}

#key {
	float: left;
	width: 30px;
	height: 20px;
	color: #298dbb;
	padding: 7px 0;
	font-size: 20px;
	margin-right: 10px;
	text-align: center;
	border-radius: 2px;
	background: #2e4f6e;
	box-shadow: 0 1px 0 #2c303c;
	text-shadow: 1px 1px #222f51;
	font-family: "Jura",sans-serif;
}

#text {
	float: left;
}

#text b {
	font-weight: 400;
}